@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
/* font-family: 'Fascinate', cursive; */

.header{
    color: black;
    text-align: center;
    background-color: #4592AF;
    position: relative;
    margin: -22px;
    box-sizing: border-box;
}
.header h1{
    padding: 6px;
}


/* information block */

.info{
    text-align: center;
    background-color: #33313B;
    box-sizing: border-box;
    padding: 10px;
    margin: 40px 0;
    color: white;
}


/* ViewBox Block */

.viewbox{
    width: 100%;
}
.viewFlexContainer{
    display: flex;
    /* background-color: rgba(255, 0, 0, 0.6); */
    flex-direction: row;
    margin: auto 9%;
}
.viewFlexContainer div{
    margin: 0 10px;
    border-radius: 4px;
}
.viewFlexContainer div:nth-child(1){
    width: 60%;
    box-shadow: 3px 3px 10px 1px black;
}
.viewFlexContainer div:nth-child(2){
    width: 40%;
    box-shadow: 3px 3px 10px 1px black;

}

.content-para{
    border: 1px solid black;
    border-radius: 4px;
    padding: 30px 20px;
    margin: 0;
    background: white;
    min-height: 100px;
}